html, body { 
  width: 100%;
  margin:0; 
  padding:0;
}
body {
  font-size:18px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
p {
  line-height:1.4em;
}
section {
  width:900px;
  margin:10px auto;

}
h1 {
  font-size: 3em;
  text-transform:uppercase;
  text-align: center;
}
header p {
  margin: -2em 0 2em;
  text-align: center;
  font-style:italic;
}
ol {
  counter-reset: listNumbering;
}

li {
  list-style-type: none;
  counter-increment: listNumbering;
  font-size: 1.3em;
}

li:before {
  content: counter(listNumbering) '.';
  font-size: 2em;
  color: #ccc;
  vertical-align: middle;
  font-style: italic;
  margin-left:0;
  margin-right:0.5em;
}

/* Add to your CSS file */
@font-face {
  font-family: 'Courier Prime';
  src: url('CourierPrime-Italic.woff2') format('woff2'),
      url('CourierPrime-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('CourierPrime-Bold.woff2') format('woff2'),
      url('CourierPrime-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('CourierPrime-BoldItalic.woff2') format('woff2'),
      url('CourierPrime-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('CourierPrime-Regular.woff2') format('woff2'),
      url('CourierPrime-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

input[type="text"],
input[type="password"] {
  display: block;
  width:700px;
  margin:10px auto;
  border: 2px solid black;
  text-align: center;
}

h1,
.passphrase-output,
li:before,
input[type="text"],
input[type="password"] {
  color: #2d72e2;
}
.passphrase-output,
input[type="text"],
input[type="password"] {
  border: 2px solid #2d72e2;
  border: 2px solid #aaa;
  font-size: 120%;
  font-family: 'Courier Prime', monospace; /* Fallback to generic monospace if load fails */
  line-height: 1.8em;
  min-height: 1.8em;
}
#options {
  text-align:center;
  margin: 10px auto;
}
button {
  font-weight: inherit;
  font-size: inherit;
}
footer {
  font-size:85%;
  line-height:3em;
  text-align: center;
}

#refreshPassphrases {
  font-size: 1.5em;
}

.passphrase-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 700px; 
  margin: 10px auto;
  margin-bottom: 1.6em;
}

.passphrase-output {
  flex-grow: 0;
  margin-right: 10px; 
  width: 450px;
  padding: 5px 10px;
}

.passphrase-output:hover,
.copied {
  background-color: #cefed5;
  color: rgb(11, 99, 11);
}

.copy-button {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.8em;
  width: 7em;
  transition: opacity 0.3s ease-in-out;
}


table {
  width: 100%; /* Full-width */
  border-collapse: collapse; /* Ensures borders between cells are merged */
  border-spacing: 0; /* Removes space between borders */
  margin-bottom: 20px; /* Space below the table */
  background-color: #fff; /* White background */
}

table, th, td {
  border: 1px solid #ddd; /* Light grey border */
}

th, td {
  text-align: left; /* Align text to the left in cells */
  padding: 8px; /* Padding inside cells */
}

th {
  background-color: #f8f9fa; /* Light grey background for headers */
  color: #333; /* Dark grey text for contrast */
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Zebra striping for rows */
}

tr:hover {
  background-color: #e9ecef; /* Light grey background on row hover */
}

/* Add a bit of responsiveness to improve viewing on smaller screens */
@media screen and (max-width: 768px) {
  table {
      width: 100%; /* Adjusts width on smaller screens */
  }
  th, td {
      padding: 10px; /* More padding for touch targets on smaller screens */
  }
}
