.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-title {
  @apply font-header text-3xl mb-6
}

a.link, a:hover.link , a:active.link , a:visited.link {
  @apply text-blue-500 hover:underline no-underline;
}

footer a.link, footer a:hover.link, footer a:active.link, footer a:visited.link {
  @apply text-neutral-content underline hover:no-underline;
}

.password-scheme .password-examples li {
  @apply mb-2;
}

.content p {
  @apply mt-2 mb-4 last:mb-0;
}


.markdown-content a, .markdown-content a:visited, .markdown-content a:active, .markdown-content a:hover {
  @apply link text-blue-500 hover:underline no-underline;
}

.markdown-content table {
  @apply table table-sm w-full mb-6 mt-6 border rounded-md;
}
.markdown-content table td {
  @apply text-base;
}

.markdown-content table th {
  @apply bg-gray-100 text-base-content;
}

.markdown-content table th {
  @apply uppercase;
}

.markdown-content ol {
  @apply list-decimal ml-6;
}

.markdown-content ul {
  @apply list-disc ml-6;
}

.markdown-content p {
 @apply last:m-0;
}