
.passphrase-content {
  @apply bg-gray-100 p-2 rounded flex-grow font-custom text-lg
}

/* highlight when hovering */
.passphrase-content:hover,
.copied {
  background-color: rgb(210, 255, 216);
  color: rgb(14, 99, 14);
  
  /* make pointer a hand on hover */
  cursor: pointer;

}